body{ margin: 0;
	font-family: sans-serif;
	background: #f6f6f6; }

*{box-sizing: border-box;}
/*=========== header1 start ==========*/
.header1{height: 55px;
		width: 100%;
		background: #262626;
		display: flex;
		flex-wrap: wrap ;
		position: relative; }


.header1 .logo{	width:50%;
				height: 100%;
				padding-top: 15px;
				/*background: coral;*/
				
				}

.header1 .buynow{	width:50%;
				height: 100%;
				padding-top: 10px;
				/*padding-left: 630px;*/
				/*background: lightcyan;*/
				}


.header1 .buynow a {	background: #7aa93c;
				    	text-decoration: none;
				    	color: white;
				    	font-size: 17px;
				    	padding: 8px 18px;
				    	border-radius:25px ;
				    	position: absolute;
						right: 50px;
				    }
/*========== header1 end ========== */


.mainbg{ height: 870px;
		width: 100%;
		background: url(images/banner-1.jpg?id=215); 
			background-size: 100% 100%;}

.header2{height: 55px;
		width: 100%;
		/*background: lightcoral;*/
		background: rgba(200,200,200,.2) ;
		display: flex;
		flex-wrap: wrap;
		
		}
/*===================================================================*/
.header2 .usd { height: 55px;
		        width: 16.66%;
		        /*background: black; */
		    	text-align: center;
		    	padding-top: 15px;}


.header2 .usd a{ border: 1px solid transparent;
		    	background: transparent;
		    	color: white;
		    	text-decoration: none; 
		    	word-spacing: 7px;
		    	font-size: 20px;
		    	font-weight:bold ;
    	}

.header2 .usd a i{ color: lightgray ;}

/*===============================================================================*/

.header2 .sqft { height: 55px;
		        width: 16.66%;
		        /*background: lightblue;*/
		        text-align: center;
		    	padding-top: 15px; }

.header2 .sqft a{ border: 1px solid transparent;
		    	background: transparent;
		    	color: white;
		    	text-decoration: none; 
		    	word-spacing: 7px;
		    	font-size: 20px;
		    	font-weight:bold ;
    	}

.header2 .sqft a i{ color: lightgray ;}
/*=========================================================================================*/
.header2 .eng { height: 55px;
		        width: 16.67%;
		        /*background: lightcyan;*/
		        text-align: center;
		    	padding-top: 15px; }

.header2 .eng a{ border: 1px solid transparent;
		    	background: transparent;
		    	color: white;
		    	text-decoration: none; 
		    	word-spacing: 7px;
		    	font-size: 20px;
		    	font-weight:bold ;
    	}

.header2 .eng a i{ color: lightgray ;}

/*=========================================================================================*/
.header2 .phone { height: 55px;
		        width: 16.66%;
		        /*background: lightcoral;*/
		        text-align: center;
		    	padding-top: 15px; }

.header2 .phone a{ border: 1px solid transparent;
		    	background: transparent;
		    	color: white;
		    	text-decoration: none; 
		    	word-spacing: 7px;
		    	font-size: 20px;
		    	font-weight:bold ;
    	}

.header2 .phone a i{ color: lightgray ;}
/*=========================================================================================*/
.header2 .icon { height: 55px;
				 width: 16.66%;
 				/*background: black;*/
 				text-align: center;
		    	padding-top: 15px; }

.header2 .icon a{ border: 1px solid transparent;
		    	background: transparent;
		    	color: white;
		    	text-decoration: none; 
		    	word-spacing: 7px;
		    	font-size: 20px;
		    	font-weight:bold ;
    	}

.header2 .icon a i{ color: lightgray ;}
/*=========================================================================================*/
 .header2 .login { height: 55px;
 				 width: 16.66%;
 				 /*background: lightpink;*/
 				 text-align: center;
		    	padding-top: 15px; }

.header2 .login a{ border: 1px solid transparent;
		    	/*background: transparent;*/
		    	color: white;
		    	text-decoration: none; 
		    	word-spacing: 7px;
		    	font-size: 20px;
		    	font-weight:bold ;
    	}

.header2 .login a i{ color: lightgray ;}

/*=========================================================================================*/

/*===================header2 end====================*/

.header3{height: 60px;
		width: 100%;
		background: transparent ;
		display: flex;}

 
 .header3 .c-name{height: 60px;
		width: 30%;
		/*background: pink*/
		;color:white ;
		text-align: center;
		line-height: 60px;
		font-size: 30px;
		font-weight: 400;}
										
.header3 .link{height: 60px;
		width: 70%;
		/*background: lightblue ;*/
		padding-top: 20px;
		padding-left: 10px;}

.header3 .link .main-ul{margin: 0;
												padding: 0;}

.header3 .link .main-ul .mainli {list-style-type: none;
						    display: inline;}

.header3 .link .main-ul .mainli a{ padding: 0px 15px;
																		text-decoration: none;
																		color: white;
																		font-weight: 600; 
																		 }




/*============================== header3 end ====================*/

/*============================== header4 start ====================*/

.header4  { height: 700px;
			width: 100%;
			/*background: url(http://realtyspace.codefactory47.com/app/uploads/revslider/RealtyspaceSlider11/banner-1.jpg?id=215
);          background-size: 100% 100%;*/
			display: flex;
			flex-wrap: wrap;
			 }
/*=============================================================================*/
.header4 .h4left{ height: 100%;
				  width: 60%;
				  /*background: lightgray;*/
				  padding-left: 100px;}


.header4 .h4left h1{ color: white; 
					font-size: 95px;
					font-weight: 800;}

.header4 .h4left p{ color: white; 
					font-size: 20px;
					font-weight: 300;}


.header4 .h4left h2{ color: #f3bc65; 
					font-size: 30px;
					font-weight: 400;
					}



/*==============================================================================*/
.header4 .h4right{ height: 100%;
				  width: 40%;
				  /*background: lightgreen;*/
				}


 .h4right-bg{height: 670px;
			width: 60%;
			border: 1px solid green;
			background: rgba(255, 255, 255, 0.4);
			margin-left: 100PX;
			margin-top: 20px;
			font-weight: 600;
			padding-left: 40px;
			padding-top: 10px; }



.h4-right-subdiv1{ 
        	height: 30px;
			width: 75%;
			font-size: 15px;
			/*border: 1px solid red;*/
			text-align: left;
			line-height: 30px;
			margin:35px 0 0 0;
		color: white;}

.h4-right-subdiv2{ 
        	height: 40px;
			width: 85%;
			/*border: 1px solid red;*/
			background: rgba(255, 255, 255, 0.8);
			/*margin:20px 0;*/
			text-align: left;
			line-height: 40px;
			padding-left: 20px;
		color: rgba(0,0,0,.5) ;
		font-size: 15px;}


.h4-right-input{ background: #f3bc65;
				font-size: 20px;
				padding: 8px 16px;
				margin-top: 20px;
				margin-left: 65px;
				border: none;
    			border-bottom: 4px solid #d99221}

/*============================== header4 end ====================*/


.A{ font-size: 50px;
	 font-weight: 600;
	 color: #2c3e50;
	 text-align:center;
	 margin: 50px 0;}


.B{  font-size: 15px;
	 color: #2c3e50;
	 text-align:center;
	 margin: 45px 0;}


.C{  font-size: 15px;
	 color: #2c3e50;
	 text-align:center;
	 margin: 45px 0;}


.C a {  font-size: 15px;
	 color: #2c3e50;
	 text-decoration: none;}


.D{  height: 400px;
	 /*border: 1px solid red;*/
	 font-size: 15px;
	 color: #2c3e50;
	 margin: 45px 0;
	 display: flex;
	flex-wrap: wrap;}

.D1{ 	margin:0 30px 0 170px ;
		height: 100%;
		width: 25%;
		/*border: 1px solid black;*/
		background: white; }

.D2{ 	margin:0 30px 0 0 ; 
		height: 100%;
		width: 25%;
		/*border: 1px solid black;*/
		background: white; }

.D3{	margin:0 30px 0 0 ; 
		height: 100%;
		width: 25%;
		background: white; 
		/*border: 1px solid black;*/}

.D1-TEXT1,.D1-TEXT2,.D1-TEXT3 { font-size: 16px;
								margin-top: 5px;
								margin-left: 10px;  }

.D1-TEXT4{ font-size: 30px;
		margin-top: 5px;
		margin-left: 10px;
		font-weight: 600; }

/*=======================================================================*/


.E{  height: 400px;
	 /*/*border: 1px solid red;*/*/
	 font-size: 15px;
	 color: #2c3e50;
	 margin: 45px 0;
	 display: flex;}

.E1{ 	margin:0 30px 0 170px ;
		height: 100%;
		width: 25%;
		/*border: 1px solid black;*/
		background: white; }

.E2{ 	margin:0 30px 0 0 ; 
		height: 100%;
		width: 25%;
		/*border: 1px solid black;*/
		background: white; }

.E3{	margin:0 30px 0 0 ; 
		height: 100%;
		width: 25%;
		background: white; 
		/*border: 1px solid black;*/}

.E1-TEXT1,.E1-TEXT2,.E1-TEXT3 { font-size: 16px;
								margin-top: 5px;
								margin-left: 10px;  }

.E1-TEXT4{ font-size: 30px;
		margin-top: 5px;
		margin-left: 10px;
		font-weight: 600; }
/*==========================================================================*/
	
 .F{height: 750px ; 
 	background: white;
 	/*border: 1px solid red;*/
 	display: flex;
 	flex-wrap: wrap; }

 .F-image{ ; 
 	width: 45%;
 	height: 750px;
 	/*background: white;*/
 /*border: 1px solid red; */}

 .F-text{ ; 
 	width: 55%;
 	height: 750px;
 	/*background: white;*/
 	/*border: 1px solid green; */ }

 .F-text1{ ; 
 	width: 100%;
 	height: 13%;
 	/*border: 1px solid blue;*/
 	font-size: 50px;
 	font-weight: 600;
 	color: #0ba;
 	padding-left: 30px;
 	padding-right: 30px;
 	line-height: 75px; }
 .F-text2{ ; 
 	width: 100%;
 	height: 15%;
 	/*border: 1px solid blue;*/
 	font-size: 13px;
 	font-weight: 600;
 	color: #606e7c;
 	text-align: left;
 	margin-top: 25px;
 	padding-left: 30px;
 	padding-right: 30px;
 	word-spacing: 2.5px;
 	 }
.F-text3{ ; 
 	width: 100%;
 	height: 31%;
 	/*border: 1px solid blue;*/
 	font-size: 13px;
 	font-weight: 600;
 	color: #606e7c;
 	text-align: center;
 	margin-top: 25px;
 	display: flex;
 	 }
 .F-text31{ 
 	width: 50%;
 	height: 100%;
 	/*border: 1px solid blue;*/
 	font-size: 13px;
 	font-weight: 600;
 	color: #606e7c;
 	text-align:left;
 	padding: 20px 5px 10px 35px;}

 .F-text32{ 
 	width: 50%;
 	height: 100%;
 	/*border: 1px solid blue;*/
 	font-size: 13px;
 	font-weight: 600;
 	color: #606e7c;
 	text-align:left;
 	padding: 20px 5px 10px 35px;}

/*======================================================================================*/

	 .G{ height: 80px;
	width: 100%;
	/*border: 1px solid red;*/
	text-align: center;
	line-height: 80px;
	font-size: 46px;
    color: #2c3e50;
    font-weight: 600;
margin-top: 30px;}

.H{ height: 100px;
	width: 90%;
	/*border: 1px solid blue;*/
	text-align: center;
	padding: 30px;
    color: #2c3e50;
    font-size: 13px;
margin: auto;}

 .I{height: 360px;
	width: 90%;
	margin: auto;
	/*border: 1px solid blue;*/
    color: #2c3e50;
    font-weight: 600;
	display: flex;
	} 


.I1{height:100%;
	width: 20%;
	/*border: 1px solid blue;*/
	margin-left: 50px;
	margin-right: 40px;}

.I1-IMAGE img{ height: 60%;
			width: 100%; }
.I1-TEXT1{ height: 7%;
			width: 100%;
			font-size: 22px;
			color: #2c3e50;
			text-align: center;
			/*border: 1px solid blue; */}

.I1-TEXT2{ height: 7%;
			width: 100%;
			/*border: 1px solid blue; */
			margin-top: 8px;
			color: #0ba;
			font-size: 14px;
			text-align: center;}
.I1-TEXT3 a{ height: 7%;
			width: 100%;
			font-size: 11px;
			color: #2c3e50;
			padding-left:100px;

			/*border: 1px solid blue;*/
			text-decoration: none;}


.I2,.I3,.I4{height:100%;
	width: 20%;
	/*border: 1px solid blue;*/
margin-right: 40px;}


.J{ height: 80px;
	width: 100%;
	/*border: 1px solid red;*/
	text-align: center;
	line-height: 80px;
	font-size: 46px;
    color: #2c3e50;
    font-weight: 600;
margin-top: 30px;
margin-bottom: 30px;}		
/*=========================================================================================================*/
.K{height:450px;
	width: 90%;
	margin: auto;
	/*border: 1px solid blue;*/
    color: #2c3e50;
    display: flex;

	} 


.K1{height:100%;
	width: 30%;
	/*border: 1px solid blue;*/
	margin-left: 50px;
	margin-right: 40px;}

.K1-IMAGE img{ height: 10%;
			width: 100%; }
.K1-TEXT1{ height: 7%;
			width: 100%;
			font-size: 22px;
			color: #2c3e50;
			text-align: left;
			/*border: 1px solid blue; */
			margin-bottom: 15px;
		font-weight: 600;}

.K1-TEXT2{ height: 7%;
			width: 100%;
			/*border: 1px solid blue; */
			margin-top: 8px;
			color: #2c3e50;
			font-size: 14px;
			text-align: left;
			margin-bottom: 50px;}
.K1-TEXT3 a{ height: 7%;
			width: 100%;
			font-size: 11px;
			color: #2c3e50;
			padding-left:100px;

			/*border: 1px solid blue;*/
			text-decoration: none;}


.K2,.K3,.{height:100%;
	width: 20%;
	/*border: 1px solid blue;*/
margin-right: 40px;}

/*==================================================*/
.SEE-MORE a{ border: 1px solid #2c3e50;
	margin-left: 45%;
	color: #2c3e50;
padding: 10px 20px;
text-decoration: none;
margin-bottom: 40px;}


/*=========================================================*/
.L{height: 300px;
	width: 100%;
	margin: auto;
	margin-top: 20px;
	/*border: 1px solid blue;*/
    color: #2c3e50;
    font-weight: 600;

	display: flex;
	background: url(images/bg-achievement.jpg?id=136);
	} 


.L1{height:100%;
	width: 20%;
	/*border: 1px solid blue;*/
	margin-left: 50px;
	margin-right: 40px;
margin-top: 40px;}

.L1-IMAGE i{ height: 30%;
			width: 30%;
			margin-left: 100px; 
			font-size: 60px;
			color: white;}

.L1-TEXT1{ height: 7%;
			width: 100%;
			font-size: 42px;
			color: #f3bc65;
			text-align: center;
			font-weight: 50;
			margin: 50px 0 30px -10px;
			/*border: 1px solid blue; */}

.L1-TEXT2{ height: 7%;
			width: 100%;
			/*border: 1px solid blue; */
			margin-top: 8px;
			color: #f3bc65;
			font-size: 14px;
			text-align: center;}



.L2,.L3,.L4{height:100%;
	width: 20%;
	/*border: 1px solid blue;*/
margin-right: 40px;}

/*===========================================*/
.M,.R{ height: 80px;
	width: 100%;
	/*border: 1px solid red;*/
	text-align: center;
	line-height: 80px;
	font-size: 46px;
    color: #2c3e50;
    font-weight: 600;
margin-top: 30px;
margin-bottom: 30px;}	

.N,.S{ height: 100px;
	width: 90%;
	/*border: 1px solid blue;*/
	text-align: center;
	padding: 0 30px;
    color: #2c3e50;
    font-size: 13px;
margin: auto;}

.O{ height:100px;
	width: 50%
	border: 1px solid blue;
	color: #2c3e50;
   	margin: auto;
	display: flex;
	padding-left: 35%;

}


.O-IMAGE{ height: 100px;
	width: 25%;
	/*border: 1px solid grey;*/
	text-align: right;
	padding: 0 30px;
    color: #2c3e50;
    font-size: 13px;
margin-top: -20px;}

.O-TEXT{ height: 100px;
	width: 25%;
	/*border: 1px solid greenyellow;*/
	text-align: left;
	padding-top: 35px;
    color: #2c3e50;
    font-size: 13px;
margin-top: -20px;}

.P{ height: 150px;
	width: 50%;
	/*border: 1px solid blue;*/
	text-align: center;
	/*padding: 0 30px;*/
    color: #0ba;
  font-style: italic;
    /*font-size: 13px;*/
	margin: auto;}

.Q{ height: 202px;
	width: 1200px;
	/*border: 1px solid blue;*/
	display: flex;
/*	text-align: center;
	padding: 0 30px;
    color: #0ba;
    text-align: center;
    font-size: 13px;*/
    margin-left: 12%;
    margin-top: -30px;
/*margin: auto;*/
background: url(images/bg-gosubmit.jpg);}


.Q-TEXT{ height: 202px;
	width: 900px;
	/*border: 1px solid blue;*/
    font-size: 20px;
     color: #2c3e50;
     padding-left: 500px;
     font-weight: 600;
    }
.Q-TEXT span{   font-size: 60px;
    			line-height: 1;
    			color: #2c3e50;
    			padding-left: 100px; }
.Q-TEXT b{  ;
    			line-height: 1;
    			color: #2c3e50;
    			padding-left: 230px; }
/*=========================================================*/

.T{  height: 130px;
	width: 80%;
	/*border: 1px solid blue;*/
	text-align: center;
	/*padding: 0 30px;*/
    color: #2c3e50;
	margin: auto; 
	margin-top: -50px;
	display: flex;} 

.T1{  height: 130px;
	width: 14.285%;
	/*border: 1px solid red;*/
	text-align: center;
	/*padding: 0 30px;*/
    color: #2c3e50;
	margin: auto;
	
	 
	} 
 
 .T1-IMG{  height: 50%;
	width: 100%;
	/*border: 1px solid yellow;*/
	text-align: center;
	/*padding: 0 30px;*/
    color: #2c3e50;
	margin: auto;
	line-height: 65px;
	margin-top: 30px;


	 
	} 


 .T1-TEXT{  height: 50%;
	width: 100%;
	/*border: 1px solid blue;*/
	text-align: center;
	font-size: 16PX;
	font-weight: 500;
    color: #2c3e50;
    margin-top: -20px;
	} 


	/*==========================================================*/




	.U{ height: 750px;
    width: 100%;
    background: url(images/bg-footer.jpg);
    background-size: 100% 100%;
    display: flex; }

.U1{ height: 100%;
     width: 10%;
     /*border: 1px solid greenyellow;*/
   }


.U2{ height: 100%;
     width: 35%;
     /*border: 1px solid greenyellow;*/
   }

 .U21{ height: 10%;
     width: 100%;
     /*border: 1px solid greenyellow;*/
     font-size: 20px;
    color: #0ba;
    font-weight: 600; 
    padding-top:30px;
    display: flex;
    
   }
 .U22{ height: 15%;
     width: 100%;
     /*border: 1px solid greenyellow;*/
     color: #bebebe;
     padding-top: 30px;

   }

   .U22 a{ color: #bebebe;
       text-decoration: none; 
     word-spacing: 5px;}

 .U23{ height: 15%;
     width: 100%;
     /*border: 1px solid greenyellow;*/
     color: #bebebe;
     
   
   }

.U21 a i{ color: #0ba;
     font-size: 25px; 
     text-align: left;
     padding-right: 40px;}

.cr{color:  #bebebe;
		margin-top: 170px;
		font-size: 12px;}
   

.U3 { height: 100%;
     width: 25%;
     /*border: 1px solid greenyellow;*/

   }
   .U31{ height: 10%;
     width: 100%;
     /*border: 1px solid greenyellow;*/
     font-size: 20px;
    color: #0ba;
    font-weight: 600; 
    padding-top:30px;
    display: flex;
    
 /*  }
 .U32{ height: 15%;
     width: 100%;
     border: 1px solid greenyellow;
     color: #bebebe;
     padding-top: 30px;
*/
   }


   .U32{ height: 10%;
     width: 100%;
     /*border: 1px solid greenyellow;*/
     color: #bebebe;
     padding-top: 10px;
     }

.U33{ height: 10%;
     width: 100%;
     /*border: 1px solid greenyellow;*/
     color: #bebebe;
     padding-top: -50px;
     margin-top: -60px;
     padding-left: 20px;
     }

.U4{ height: 100%;
     width: 15%;
     /*border: 1px solid greenyellow;*/
   }

   .U41{ height: 10%;
     width: 100%;
     /*border: 1px solid greenyellow;*/
     font-size: 20px;
    color: #0ba;
    font-weight: 600; 
    padding-top:30px;
    display: flex;}

    .U42{ height: 15%;
     width: 100%;
     /*border: 1px solid greenyellow;*/
     color: #bebebe;
     padding-top: 16px;}

     .U42 a{ 	text-decoration: none;
     					border: 1px solid #bebebe ; 
							color: #bebebe;
							padding: 8px 15px;

     				}



.U5{ height: 100%;
     width: 15%;
     /*border: 1px solid greenyellow;*/
   }
